<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/student.css')}}>
  <title>Main Page</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

	<script src="http://maps.googleapis.com/maps/api/js"> </script>
</head>
<body>
	<a href="/students/home/{{session['id']}}">Map</a>
<div class='container'>
	<div id='header'>
		<a href='/users/logout'>Logout</a>
	</div>
	<div id='contents'>
	    <h1>{{session['firstName']}}'s Profile</h1>
        <div id="profile">
        </div>
	</div>
</div><!-- end of container -->
</body>
</html>