<DOCTYPE! html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/styles.css')}}>
  <title>Main Page</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="http://maps.googleapis.com/maps/api/js"> </script>
		<script>
function initialize() {
    var LatLng = {lat:47.609786, lng:-122.1966154};
  
    var mapProp = {
    center:new google.maps.LatLng(47.609786,-122.1966154),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  	};

    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var marker = new google.maps.Marker({
    position: LatLng,
    map: map,
    title: 'Hello tutors'
    });

    var content = '<h4>Tutor:MATH</h4>';
    var infowindow = new google.maps.InfoWindow({
        content: content
    });

    marker.addListener('click', function() {
        infowindow.open(map, marker);
    })


}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>
<body>
<div class="container">
	<div id='header'>
		<a href='/users/logout'>Logout</a>
	</div>
    <h1> WELCOME!{{session['firstName']}} </h1>
    <button name="tutor"><a href="/tutors/loginPage">Tutors</a></button>
    <button name="students"><a href="/students/loginPage">Students</a></button>
</div><!-- end of container-->
</body>
</html>