<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/styles.css')}}>
  <title>Main Page</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

	<script src="http://maps.googleapis.com/maps/api/js"> </script>
	<script>
function initialize() {
    var LatLng = {lat:47.609786, lng:-122.1966154};
  
    var mapProp = {
    center:new google.maps.LatLng(47.609786,-122.1966154),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  	};

    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var marker = new google.maps.Marker({
    position: LatLng,
    map: map,
    title: 'Hello tutors'
    });

    var content = '<h4>Tutor:MATH</h4>';
    var infowindow = new google.maps.InfoWindow({
        content: content
    });

    marker.addListener('click', function() {
        infowindow.open(map, marker);
    })


}
google.maps.event.addDomListener(window, 'load', initialize);
$(document).ready(function(){
    var latitude = "dd";
var longitude = "dd";
  console.log("hello")
    getLocation();
  });

function getLocation(){
      console.log("funciont works")
      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        html+"Geolocaion is not supported by this browser"
      }
    function showPosition(position){

      latitude=position.coords.latitude;
      var position = {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      }
      console.log(latitude);
      $.post('/users/location',position,function(res){
        console.log(res)
        
      } )
      }
    }
</script>

</head>
<body>
<div class='container'>
	<div id='header'>
		<a href='/users/logout'>Logout</a>
	</div>
	<div id='contents'>
	    <h1> WELCOME! {{session['first_name']}}{{session['id']}}</h1>
	    <button name="tutor"><a href="/tutor_login">Tutors</a></button>
	    <button name="students"><a href="/student_login">Students</a></button>
	</div>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</div><!-- end of container -->
</body>
</html>