<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/student.css')}}>
  <title>Main Page</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

	<script src="http://maps.googleapis.com/maps/api/js"> </script>
	<script>
function initialize() {
    var LatLng = {lat:47.609786, lng:-122.1966154};
  
    var mapProp = {
    center:new google.maps.LatLng(47.609786,-122.1966154),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  	};

    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var marker = new google.maps.Marker({
    position: LatLng,
    map: map,
    title: 'Hello tutors'
    });

    var content = '<h4>Tutor:MATH</h4>';
    var infowindow = new google.maps.InfoWindow({
        content: content
    });

    marker.addListener('click', function() {
        infowindow.open(map, marker);
    })


}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
    <script src="{{url_for('static',filename='js/locations.js')}}"></script>
</head>
<body>
<div class='container'>
	<div id='header'>
		<a href='/users/logout'>Logout</a>
	</div>
	<div id='contents'>
	    <h1> WELCOME! {{session['firstName']}}</h1>
	</div>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</div><!-- end of container -->
</body>
</html>