<DOCTYPE! html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/styles.css')}}>
  <title>Main Page</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="container">
	<h1> WELCOME! </h1>
	{% if session %}
	<h2>You are logged in as {{session['firstName']}}</h2>
	{% endif %}
    <button name="tutor"><a href="/tutors/loginPage">Tutors</a></button>
    <button name="students"><a href="/students/loginPage">Students</a></button>
</div>
</body>
</html>