*{
	text-align: center;
}

#buttons button{
	margin:20px !important;

}
body{
	background-color:gray;
}
.student{
	background-color: #85BC85;
}
.tutor{
	background-color: #7D9CB8;
}
.login{
	background-color: gray;
}
.container{
	margin:20px;
	padding-top:200px;
	background-color: white;
	height: 800px;
}
